.dataTables_wrapper{
    .dataTables_info {
        padding-top: 2rem;
    }
    .dataTables_paginate {
        .paginate_button  {
            background: var(--color__white);
            border: .1rem solid #CBCBCB !important;
            margin: 0 .6rem !important;
            border-radius: .5rem;
            @include transition;
            &.current, &.current:hover, &:hover {
                background: var(--color__primary);
                border: .1rem solid var(--color__primary) !important;
                color: var(--color__white) !important;
                box-shadow: none !important;                
            }
            &.disabled {
                opacity: .5;
                border-color: #CBCBCB !important;
                cursor: no-drop !important;
            }
        }
    }
} 