:root {
    // Css Color Variable
    --color__black: #000000;
    --color__theme__black: #231f20;
    --color__white: #FFFFFF;
    --color__primary: #009BDA;
    --color__dark__primary: #0087BE;
    --color__danger: #ff0505;
}