.user_authentication {
    padding: 10rem 0 5rem;

    @include md-up {
        padding: 10rem 0;
    }
    @include lg-up {
        padding: 12rem 0 10rem;
    }
    @include xxl-up {
        padding: 18rem 0 10rem;
    }
    .row {
        --bs-gutter-x: 3rem;
    }
    .cover-image  {
        background-color: #EEFAFF;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem 0;
        max-width: 62rem;
        margin: 0 auto;
        height: 100%;
        min-height: 20rem;
        @include xl-up {
            min-height: 40rem;
        }
        img {
            @include xl-down {
                width: 10rem;
            }
        }

        p {
            font-size: 2rem;
            margin-top: 0.5rem;
        }
    }
    .form-title {
        font-size: 3rem;
        font-family: 'Segoe UI';
        font-weight: 700;
        margin-bottom: 2.5rem;
        color: var(--color__theme__black);
        @include md-down {
            margin-bottom: 1.5rem;
            text-align: center;
        }
        @include xl-up {
            font-size: 4rem;
        }
    }
    .btn-send-otp {
        background-color: #AFE8FF;
        border: 0;
        width: 100%;
        border-radius: .5rem;
        height: 100%;
        font-weight: 600;
    }
    .auth_form {
        margin: 3rem auto;
        max-width: 50rem;

        .form-group {
            & + .form-group {
                margin-top: 2rem;
            }
            label {
                margin-bottom: .5rem;
            }
            .float-end {
                font-size: 1.5rem;
                margin-bottom: .5rem;
            }
            .input-group-text {
                background-color: transparent;
                padding: 0 .2rem 0 1.5rem;
                font-size: 1.4rem;
                border-right: 0;

                i {
                    color: #050708;
                }
                & + .form-control {
                    border-left: 0;
                    margin-left: 0 !important;
                }
            }
            .input-group-text {
                border-color: #E2E8F0;
            }
        }
        .form-check {
            padding: 0;
            
            .form-check-label {
                position: relative;
                padding-left: 4.5rem;
                user-select: none;
                cursor: pointer;
                line-height: 2;
                margin: 0;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 3rem;
                    height: 3rem;
                    border: .1rem solid #ced4da;
                    border-radius: .4rem;
                    transition: all .2s;
                    background-color: white;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: .8rem;
                    left: .7rem;
                    width: 1.8rem;
                    height: 1rem;
                    border-left: 0.3rem solid #fff;
                    border-bottom: 0.3rem solid #fff;
                    z-index: 1;
                    border-radius: 0.2rem;
                    transform: rotate(-45deg);
                }
            }
            input {
                display: none;

                &:checked + .form-check-label {
                    &::before {
                        background-color: var(--color__primary);
                        border-color: var(--color__primary);
                    }
                }
            }
        }
        .submit {
            width: 100%;
            background-color: var(--color__primary);
            border: 0;
            color: var(--color__white);
            padding: 1rem 0;
            border-radius: .5rem;
            position: relative;
            z-index: 1;
            overflow: hidden;
            &::before {
                content: "";
                display: block;
                left: 0;
                width: 100%;
                top: 0;
                height: 100%;
                background: linear-gradient(to right,transparent,#FFF);
                position: absolute;
                z-index: 3;
                transform: skewX(-15deg) translateX(-120%);
                -moz-transition: none;
                transition: none;
                opacity: .5;
            }
            &:hover {        
                &::before {
                    transform: skewX(-15deg) translateX(120%);
                    transition: 800ms ease transform;
                }
            }
        }
        .line {
            position: relative;
            text-align: center;
            margin: 1.5rem 0;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0px;
                z-index: -10;
                height: 0.1rem;
                width: 100%;
                transform: translateY(-50%);
                background-color: #ced4da;
            }
        }
    }
    .verification-alert {
        margin-bottom: 5rem;

        .circle-icon {
            @include dimension(3.5rem, 3.5rem);
            border: .1rem solid white;
            background-color: white;
            border-radius: 50%;
            @include inline-flex-center;
            color: var(--color__primary);

        }
        &.successfull {
            background-color: var(--color__primary);
            padding: 1.5rem 0;
            color: var(--color__white);
            font-size: 2rem;
            @include lg-up {
                padding: 2rem 0;
            }
        }
    }
    .reset-password {
        button[type=submit] {
            background-color: var(--color__primary);
            color: var(--color__white);
            border-radius: 1rem;
            padding: 1.5rem 0;
            font-weight: 500;
            border: 0;
            font-size: 1.8rem;
            outline: 0;
        }
    }

    &.register_as {
        .section-title {
            max-width: 50rem;
            margin: 0 auto 5rem;
            .title {
                font-size: 3rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }
        }
        .register_as_item {
            margin: 2rem 0;
            background-color: var(--color__white);
            padding: 2rem;
            border-radius: 1rem;
            
            @include md-up {
                padding: 4rem;
            }
            @include lg-up {
                margin: 5rem 0;
            }
            @include xl-up {
                margin: 10rem 0;
            }
            @include xxl-up {
                margin: 15rem 0;
                padding: 6rem;
            }
            &:last-child {
                margin-bottom: 0;
            }

            .image {
                position: relative;
                z-index: 1;
                @include lg-down {
                    text-align: center;
                    margin-bottom: 2rem;
                }
                @include xl-up {
                    margin-top: -8rem;
                }
                @include xxl-up {
                    margin-top: -13.5rem;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 10rem;
                    right: -3.5rem;
                    width: 70%;
                    height: 80%;
                    background-color: rgba(#14BAFE, .2);
                    border-radius: 1rem;
                    z-index: -1;
                    @include xl-down {
                        display: none;
                    }
                    @include xxl-up {
                        top: 12rem;
                    }
                }
                img {
                    border-radius: 1rem;
                }
            }
            .text {
                @include xl-up {
                    padding-left: 5rem;
                }
                h6 {
                    font-size: 2rem;
                    font-weight: 400;
                    span {
                        font-size: 2.6rem;
                        font-weight: 700;
                    }
                }
                p {
                    margin: 2rem 0 2rem;
                    line-height: 1.7;
                    @include xxl-up {
                        margin: 2rem 0 4rem;
                    }
                }
            }

            &.img-last {
                .image {
                    &::before {
                        right: inherit;
                        left: -3.5rem;
                    }
                }
                .text {
                    @include xl-up {
                        padding-left: 0;
                        padding-right: 5rem;
                    }
                }
            }
        }
    }
}
.register-success-message {
    margin: 10rem 0 8rem;

    @include md-up {
        margin: 13rem 0 10rem;
    }
    @include lg-up {
        margin: 16rem 0 10rem;
    }
    @include xxl-up {
        margin: 18rem 0 10rem;
    }

    .messge-wrapper {
        background-color: #E6F8FF;
        padding: 6rem 2rem;
        border-radius: 1rem;
        @include sm-up {
            padding: 8rem 4rem;
        }
        @include lg-up {
            padding: 10rem 5rem;
        }
        svg {
            @include sm-down {
                @include dimension(5rem, 5rem);
            }
        }
        .title {
            font-size: 3rem;
            font-weight: bold;
            margin: 3rem 0 1.5rem;
            color: var(--colr__theme__black);
            
            @include sm-down {
                margin: 2rem 0 1.5rem;
                font-size: 2rem;
            }
        }

        p{
            max-width: 50rem;
            margin: 0 auto;
            font-size: 1.8rem;
            @include sm-down {
                font-size: 1.6rem;
            }
        }
    }
    
}